.skillSet{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-size: 32px;
    color: black;
    font-family: 'Jacques Franocis';
}